<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" />
<head th:fragment="common-header">
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="Lets drink some lemonade" />
<meta name="author" content="MIdNightCookies" />

<title>Lemonade Stand Header</title>



<!-- Custom styles for this template -->
<link href="/css/testButton.css" rel="stylesheet">
</head>

<body>



	<div th:fragment="testBody">


		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link
			href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap"
			rel="stylesheet">
		<div id="dark-light-container">


			<div class="black-container">
				<a class="nav-link" href="https://youtu.be/dQw4w9WgXcQ?t=21"> <!-- in the future make it so ppl can send RickRolls to ppl through text  -->
					<button class="button green"
						data-filter-color="rgba(71, 255, 111, 0.4)">
						<span> Just Rolling </span>
					</button>
				</a>
			</div>

			<div class="black-container">
				<a class="nav-link" href="https://youtu.be/dQw4w9WgXcQ?t=21">
					<button class="button animated" data-filter-color="#00a1ff57">
						<span>Lemonade</span>
					</button>

				</a>

			</div>


			<!-- <div class="white-container">
        <button class="button purple" data-filter-color="#e347ff8f" data-custom-perspective="900px"><span>⚙️ Another Example</span></button>
    </div> 
    		   <div class="white-container">
        <button class="button"><span>Hover!</span></button>
    </div>
     -->

		</div>
		<!-- <a href="https://fjolt.com/article/css-javascript-3d-depth-hover-buttons" target="_blank">Read Article Here</a>
 -->




		<!-- TestBody -->
	</div>


	<!-- FOOTER -->
	<div th:fragment="test-scripts">

		<script src="/js/testButton.js"></script>
	</div>

</body>
</html>