<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" />
<head th:fragment="common-header">
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="Lets drink some lemonade" />
<meta name="author" content="MIdNightCookies" />

<title>Lemonade Stand Header</title>



<!-- Custom styles for this template -->
<link href="/css/nav.css" rel="stylesheet">
</head>

<body>



	<div th:fragment="testBody">



		<link
			href="https://fonts.googleapis.com/css?family=Raleway:200,100,400"
			rel="stylesheet" type="text/css" />
		<h1>
			We have <span class="txt-rotate" data-period="2000"
				data-rotate='[ "Lemonade.", "laughs!", "more jokes.", "fun!" ]'></span>
		</h1>
		<h2>Welcome to my page.</h2>




	<!-- TestBody -->
	</div>


	<!-- FOOTER -->
	<div th:fragment="test-scripts">

		<script src="/js/navBar.js"></script>
	</div>

</body>
</html>