
<!doctype html>
<html lang="en" />
<head th:replace="common/navBar :: common-header-account" />
<body>

	<div class="page-top" id="indexHeader"></div>


	<!--NAVBAR  -->
	<div th:replace="common/navBar :: navbar-myAccount" />

	<!-- Main Content -->
	<div class="container-fluid box" id="index">
		<!-- Remove the -fluid or build this a better way -->

		<div class="container">
			<div class="row">
				<div class="col-xs-8">
					<h2 class="section-headline">
						<span id="h1Page">User Accout</span>
					</h2>
				</div>
			</div>
			<div class="col-xs-4">
				<img id="myLogo" src="/img/logo.jpg" />
				<!-- class="rounded float-right"  -->
				<hr id="acHr" />
				<div class="row" id="">
					<div class="col-xs-9 col-xs-offset-3">

						<!-- Account Tabs  -->
						<ul id="acList">
							<li><a href="#tag-1" data-toggle="tab"><span>Create new account</span></a></li>
							<li><a href="#tag-2" data-toggle="tab"><span>Log In</span></a></li>
							<li><a href="#tag-3" data-toggle="tab"><span>Forgot My PassWord!</span></a></li>

						</ul>

					</div>

				</div>



			</div>


		</div>
	</div>
	<!-- END OF CONTAINER -->

	<div th:replace="common/navBar :: myAcountFoot" />
</body>
</html>
